---
http_interactions:
- request:
    method: put
    uri: https://apidev.grosocial.com/usersubscriptions/20183?key=<API_KEY>&p=<API_PASSWORD>
    body:
      encoding: UTF-8
      string: additionalfanpages=0&applicationname=Application%20name&canceled&expirationdate=2015-12-31&extrapagescredits=0&iswhitelabel=false&nextpaymentdate=2015-12-31&status=Active&subscriptionname=Subscription%20name&user_id=20183
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/x-json
    body:
      encoding: UTF-8
      string: '{"result":{"http_status":{"code":200,"message":"Success"}}}'
  recorded_at: Mon, 02 Mar 2015 23:44:56 GMT
recorded_with: VCR 2.9.3
