---
http_interactions:
- request:
    method: get
    uri: https://apidev.grosocial.com/Users?key=<API_KEY>&p=<API_PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/x-json
    body:
      encoding: UTF-8
      string: '{"result":{"http_status":{"code":200,"message":"Success"},"users":[{"User":{"id":"20178","firstname":"Thomas","lastname":"Mebtester","email":"tpryor@myebiz.com","phone":null,"created":"2013-11-14
        21:22:43","custom1":"","custom2":"","custom3":"","alertmessage":""},"subscriptionlink":"http://apidev.grosocial.com/usersubscriptions/20178"},{"User":{"id":"20180","firstname":"Thomas","lastname":"Mebtester","email":"tpryor+gs2@myebiz.com","phone":null,"created":"2013-11-15
        17:01:20","custom1":"","custom2":"","custom3":"","alertmessage":""},"subscriptionlink":"http://apidev.grosocial.com/usersubscriptions/20180"},{"User":{"id":"20181","firstname":"Thomas","lastname":"Mebtester","email":"tpryor+gs3@myebiz.com","phone":null,"created":"2013-11-15
        17:02:54","custom1":"[...]
