---
http_interactions:
- request:
    method: get
    uri: https://apidev.grosocial.com/users/20183?key=<API_KEY>&p=<API_PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/x-json
    body:
      encoding: UTF-8
      string: '{"result":{"http_status":{"code":200,"message":"Success"},"user":{"User":{"id":"20183","firstname":"Thomas","lastname":"Mebtester","email":"tpryor+gs5@myebiz.com","phone":null,"created":"2013-11-15
        18:15:20","custom1":"","custom2":"","custom3":"","alertmessage":""}},"subscriptionlink":"http://apidev.grosocial.com/usersubscriptions/20183"}}'
  recorded_at: Fri, 06 Feb 2015 05:53:11 GMT
recorded_with: VCR 2.9.3
