---
http_interactions:
- request:
    method: post
    uri: https://apidev.grosocial.com/users?key=<API_KEY>&p=<API_PASSWORD>
    body:
      encoding: UTF-8
      string: alertmessage=&custom1=&custom2=&custom3=&email=johndoe%40example.org&firstname=John&lastname=Doe&password=secret123&phone=%28555%29%20123-4567
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/x-json
    body:
      encoding: UTF-8
      string: '{"result":{"http_status":{"code":201,"message":"Created"},"User":{"id":"20712"}}}'
  recorded_at: Mon, 09 Feb 2015 06:29:12 GMT
recorded_with: VCR 2.9.3
